body {
    margin: 0;
    padding: 0;
    background-color: white;
}

.load {
    position: absolute;
    z-index: 0;
    transform: scale(0);
}

#can1 {
    z-index: 2;
    position: absolute;
}
